/* Responsive */

@media (max-width: 769px) {
  .header-nav {
    display: none;
  }

  .bg-content {
    /* padding: 23px 0 121px; */
    margin: 0 auto;
    width: 100%;
  }

  .bg-content-text {
    padding: 23px 0 121px;
    margin: 0 auto;
    width: 100%;
  }

  .bg-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 125%;
    letter-spacing: 0.03em;
  }

  .bg-subtitle {
    font-size: 26px;
    line-height: 32px;
  }

  .bg-content-bottom-text {
    font-size: 16px;
    line-height: 150%;
  }

  .bg-content-screen {
    width: 399px;
    height: 324px;
    top: 100px;
    left: 47%;
    transform: scale(1);
  }

  .bg-content-gradient {
    width: 47%;
    height: 429px;
    /* top: -4px; */
    bottom: 0;
    left: 53%;
  }
  .bg-content-arrow {
    position: absolute;
    bottom: 20px;
    left: 0;
  }

  .events-header h2 {
    font-size: 26px;
    line-height: 125%;
  }

  .events-grid {
    flex-wrap: wrap;
  }

  .events-item {
    flex: 0 0 49%;
    height: 550px;
  }

  .item-03{
    flex: 0 0 99%;
  }

  .schedule-header h2 {
    font-size: 26px;
    line-height: 32px;
    padding: 0 30px;
  }
  .schedule-header-date {
    font-size: 16px;
    line-height: 120%;
  }

  .schedule-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 224px);
  }
  .schedule-item:nth-child(n) {
    grid-row: inherit;
    grid-column: inherit;
  }
  .schedule-item {
    padding-left: 24px;
  }
  .schedule-item img {
    bottom: 74px;
    padding-bottom: 30px;
    padding-left: 40px;
  }
  .schedule-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #010101;
    padding-top: 21px;
    padding-right: 24px;
  }
  .schedule-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2b3541;
    padding: -10px 0;
  }

  .subscription-title h2 {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    width: 201px;
  }

  .subscription-agreement {
    padding-bottom: 40px;
  }

  .subscription-circle {
    width: 31px;
    height: 31px;
    left: -14px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    align-items: stretch;
  }

  .form-control-input {
    width: 340px;
    height: 65px;
  }

  .subscription-button {
    order: 2;
    margin-top: 10px;
  }

  .about-content h2 {
    font-size: 26px;
    line-height: 32px;
    padding: 0 10px;
  }

  .about-content p {
    font-size: 16px;
    line-height: 150%;
    padding: 0 10px;
  }

  .about-trainings {
    flex-wrap: wrap;
    height: 100%;
  }

  .about-item {
    width: 40%;
    padding: 0 10px;
  }

  .about-button {
    margin: 0 10px;
  }

  .about-item h3,
  .about-item p {
    font-size: 16px;
    line-height: 150%;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    flex: 0 0 100%;
    width: 100%;
  }

  .footer-nav ul {
    justify-content: space-between;
    flex: 0 0 39%;
  }

  .contacts {
    position: static;
    flex: 0 0 100px;
    justify-content: flex-end;
  }

  .footer-nav-link a,
  .contacts a {
    font-size: 12px;
    line-height: 150%;
  }

  .footer-item {
    flex-direction: column;
  }

  .footer-rights p {
    font-size: 10px;
    line-height: 150%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 748px;
  }

  .burger {
    display: block;
    margin-left: 57px;
  }

  .container {
    padding: 0 10px;
    margin: 0 auto;
  }
}

@media (max-width: 545px) {
  .footer-circle {
    display: none;
  }

  .header {
    margin-bottom: 0;
  }

  .bg-content {
    width: 100%;
    padding-bottom: 0px;
    position: relative;
  }

  .bg-content img {
    max-width: 340px;
    height: auto;
    top: inherit;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .bg-content-gradient {
    position: static;
    width: 100%;
    height: 292px;
    margin-top: 84px;
  }

  .bg-content-arrow {
    display: none;
  }

  .bg-content-bottom button {
    padding: 22px 80px;
    display: block;
    max-width: 360px;
    margin: 0 auto;
  }

  .bg-content-text {
    padding: 0;
  }

  /* --- schedule --- */
  .schedule {
    margin-bottom: 0;
  }

  .schedule-header {
    margin-bottom: 21px;
  }
  .schedule-grid {
    display: flex;
    flex-direction: column;
  }
  .schedule-item {
    height: 114px;
    box-sizing: border-box;
  }
  .schedule-date {
    padding-top: 19px;
    padding-right: 20px;
  }
  /* ну тут надо каждый item описывать */
  .schedule-item img {
    bottom: 7px;
    left: 0px;
    scale: 0.6;
    position: absolute;
  }
  .schedule-title {
    left: 50px;
    bottom: 15px;
    margin: 0;
  }

  .schedule-item:nth-child(1) img {
    top: 41px;
    left: -33px;
  }
  .schedule-item:nth-child(2) img {
    top: 22px;
    left: -33px;
    transform: scale(0.8);
  }
  .schedule-item:nth-child(3) img {
    top: 29px;
    left: -33px;
    transform: scale(0.9);
  }
  .schedule-item:nth-child(4) img {
    top: 46px;
    left: -33px;
  }
  .schedule-item:nth-child(5) img {
    top: 51px;
    left: -33px;
    transform: scale(0.85);
  }
  .schedule-item:nth-child(6) img {
    top: 38px;
    left: -33px;
  }

  .subscription {
    margin-top: 72px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .subscription-bg {
    margin-bottom: 80px;
  }

  .subscription form {
    width: 100%;
    max-width: 360px;
    margin: 50px auto 0;
    align-items: stretch;
  }

  form {
    width: 100%;
    max-width: 360px;
  }

  .form-control-input {
    width: 100%;
  }

  .about-img {
    display: none;
  }

  .about-content {
    width: 100%;
  }

  .about-content {
    width: 100%;
    max-width: 360px;
  }

  .about-button {
    max-width: 360px;
    margin: 0 auto;
    display: block;
  }
  .about-item {
    width: 100%;
    padding: 0 10px;
  }

  .about-trainings {
    gap: 40px;
    padding-bottom: 65px;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
  }
  .contacts {
    position: static;
    flex: 0 0 100px;
    justify-content: space-between;
  }

  .footer-nav-link {
    gap: 40px;
    padding: 0;
  }

  .footer-rights {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 769px) {
  .header-burger {
    display: none;
  }
}
