body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* header */
.container {
  max-width: 1141px;
  margin: 0 auto;
}

.header {
  margin-bottom: 27px;
  padding-top: 50px;
}

.header-logo {
  display: block;
  background-image: url(../img/header_icon_logo.svg);
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  gap: 54px;
  flex-basis: 41%;
  margin-left: -26%;
}

.header-nav a {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  color: #2b3541;
  cursor: pointer;
}

.header-nav a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: transparent;
  display: block;
  transition: 0.5s;
  margin-top: 10px;
}

.header-nav a:hover::after {
  background-color: #2b3541;
  transition: 0.5s;
}

.header-social {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.header-social li:first-child a {
  display: block;
  list-style-type: none;
  background-image: url(../img/IN-icon.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  opacity: 0.8;
}

.header-social li:last-child a {
  display: block;
  list-style-type: none;
  background-image: url(../img/FB-icon.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  opacity: 0.8;
}

.header-social a:hover {
  transform: scale(1.2);
  opacity: 1;
}

.header-social a {
  cursor: pointer;
}

/* bg-content */

.bg-content {
  position: relative;
  width: 996px;
  /* height: 850px; */
  padding: 23px 0 121px;
}

.bg-title {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b3541;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}

.bg-subtitle {
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #2b3541;
  text-transform: lowercase;
}

.bg-content-bottom {
  margin-left: 30px;
}

.bg-content-bottom-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2b3541;
  text-transform: lowercase;
}
.bg-content-arrow {
  position: absolute;
  bottom: 125px;
  left: 0;
}

.bg-content-bottom button {
  background: #fbf138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  padding: 20px 30px;
  margin-top: 40px;
  text-transform: uppercase;
  border: none;
}

.bg-content-bottom button:hover {
  background-color: #2b3541;
  color: #fbf138;
}

.bg-content-gradient {
  position: absolute;
  width: 464px;
  height: 850px;
  top: 0px;
  right: -140px;
  width: 464px;
  height: 850px;
  background: linear-gradient(
    90deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 145.23%
  );
  opacity: 0.2;
}

.bg-content-bottom {
  margin-left: 0;
}

.img-arrow {
  width: 40px;
}

.bg-content-screen {
  position: absolute;
  top: 32px;
  left: 329px;
  width: 983px;
  height: 810px;
  z-index: 10;
}
.bg-content-text {
  padding-top: 220px;
  padding-bottom: 274px;
  position: relative;
}

/* Events */
.events {
  margin-bottom: 160px;
}

.events-grid {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  position: relative;
  width: 100%;
}

.events-item {
  position: relative;
  flex: 0 0 calc(32% + 4px);
  width: 100%;
}

.events-cover-1 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(../img/maraphon.png);
  width: 100%;
  height: 600px;
}
.events-cover-2 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(../img/vebinar_1.png);
  width: 100%;
  height: 600px;
}
.events-cover-3 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(../img/vebinar_2.png);
  width: 100%;
  height: 600px;
}

.events-item-header {
  padding-top: 30px;
  padding-left: 30px;
}

.events-date {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #2b3541;
  opacity: 0.6;
}

.events-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: #2b3541;
}

.events-header h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #2b3541;
  margin-bottom: 40px;
  padding: 0;
}

.events-hashtag {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #fbf138;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #2b3541;
}

.events-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(251, 241, 56, 0.45) 0%,
    rgba(253, 249, 182, 0) 100%
  );
  z-index: 10;
  opacity: 0;
  transition: 0.8s;
}

.events-gradient:hover {
  opacity: 1;
  transition: 0.8s;
}

.events-add {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b3541;
  padding: 20px 49px;
  background: #fbf138;
  box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
  z-index: 11;
  position: absolute;
  top: 185px;
  left: 30px;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

.events-add:hover {
  background-color: #2b3541;
  color: #fbf138;
}
/* Training */

.schedule {
  margin-bottom: 160px;
}

.schedule-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 38px;
}

.schedule-grid {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "a a a"
    "b b b"
    "a a a";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 309px 73px 281px;
}

.schedule-item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.schedule-item:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}
.schedule-item:nth-child(5) {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}
.schedule-item:nth-child(2) {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}
.schedule-item:nth-child(4) {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
.schedule-item:nth-child(6) {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

.schedule-header h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #2b3541;
}

.schedule-header-date {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: #2b3541;
}

.schedule-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2b3541;
  opacity: 0.7;
}

.schedule-item {
  border: 1px solid #2b3541;
  position: relative;
  padding: 20px 30px;
  /* opacity: 0.5; */
}

.schedule-item img {
  position: absolute;
  bottom: 83px;
}

.schedule-item:hover {
  border: 1px solid transparent;
  transition: 0.7s;
  cursor: pointer;
}

.schedule-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #010101;
  position: absolute;
  padding-top: 20px;
  padding-right: 30px;
  top: 0;
  right: 0;
}

.schedule-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #2b3541;
  position: absolute;
  padding-bottom: 20px;
  padding-left: 30px;
  bottom: 0;
  left: 0;
}

.schedule-img {
  position: absolute;
  padding-bottom: 83px;
  padding-left: 30px;
  bottom: 0;
  left: 0;
}

.schedule-cover {
  background: linear-gradient(
    180deg,
    #fbf138 0%,
    rgba(253, 249, 182, 0.45) 100%
  );
  opacity: 0.7;
  box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
  transition: 0.7s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.schedule-cover:hover {
  opacity: 1;
  transition: 0.7s;
}

/* subscription */

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-bg {
  background: #f3f3f3;
  background-position: center center;
  background-size: cover;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  margin-bottom: 160px;
}

.subscription-title {
  text-align: center;
  position: relative;
}

.subscription-circle {
  background-color: rgba(251, 241, 56, 0.6);
  border-radius: 50%;
  width: 53px;
  height: 53px;
  position: absolute;
  left: -40px;
  top: 65px;
  z-index: 1;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}

.subscription-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #2b3541;
  padding-top: 80px;
  padding-bottom: 40px;
  margin: 0;
  z-index: 100;
  position: relative;
}

form {
  margin: 0px 0 0 10px;
  
}

.form-control-input {
  width: 372px;
  height: 65px;
  padding: 0 20px;
  border: none;
  background-color: #ffffff;
  margin-right: 20px;
  box-sizing: border-box;
}

.subscription-button {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b3541;
  padding: 25px 40px;
  background: #fbf138;
  transition: 0.5s;
}

.subscription-button:hover {
  background-color: #2b3541;
  color: #fbf138;
  transition: 0.5s;
}

input[type="email"]:focus {
  border: 1px solid #fbf138;
  outline: 0;
}
input[type="email"]:invalid {
  border: 1px solid #ae0303;
  outline: 0;
}

.subscription-agreement {
  margin-top: 10px;
}

input {
  display: inline-block;
}

input[type="email"]::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #2b3541;
  opacity: 0.3;
}

.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #2b3541;
}
/* Стили для псевдоэлемента after с изображением, когда пункт активен */
.checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  transition: all 0.6s ease;
  opacity: 1;
  left: 0px;
  top: calc(50% - 9px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/checkbox.png);
  border: 1px solid #2b3541;
  border-radius: 1px;
}
/* Стили для псевдоэлемента before с фоном и обводкой, когда пункт НЕ активен */
.checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: calc(50% - 9px);
  background-color: transparent;
  border-radius: 1px;
  border: 1px solid #2b3541;
}
.agree_data {
  text-decoration: underline;
  color: rgba(43, 53, 65, 0.5);
}

.agree_data:hover {
  color: rgba(43, 53, 65, 1);
}

/* about */
.about-banner {
  display: flex;
  flex-direction: column;
}

.about-text {
  display: flex;
  justify-content: space-between;
  gap: 77px;
}

.about-trainings {
  display: flex;
  justify-content: space-between;
  gap: 67px;
  padding-top: 80px;
  padding-bottom: 170px;
}

.about-content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #2b3541;
}

.about-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2b3541;
}

.about-button {
  background: #fbf138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  padding: 20px 30px;
  margin-top: 34px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2b3541;
  cursor: pointer;
}

.about-button:hover {
  background-color: #2b3541;
  color: #fbf138;
  transition: 0.7s;
}

.about-item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  color: #2b3541;
}

.about-item p {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2b3541;
  opacity: 0.6;
}

/* footer */
footer {
  padding-top: 53px;
  background: #f3f3f3;
  background-position: center center;
  background-size: cover;
}

.footer-logo {
  display: block;
  background-image: url(../img/header_icon_logo.svg);
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 54px;
  flex-basis: 55%;
  align-items: center;
}

.footer-nav-link {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 54px;
  flex-basis: 55%;
  align-items: center;
}

.footer-nav-link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2b3541;
  cursor: pointer;
}

.footer-nav-link a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: transparent;
  display: block;
  transition: 0.5s;
  margin-top: 10px;
}

.footer-nav-link a:hover::after {
  background-color: #2b3541;
  transition: 0.5s;
}

.footer-social {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.footer-social li:nth-child(1) {
  text-decoration: none;
}

.footer-social li:nth-child(1) a {
  display: block;
  list-style-type: none;
  background-image: url(../img/IN-icon.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  opacity: 0.8;
}

.footer-social li:nth-child(2) a {
  display: block;
  list-style-type: none;
  background-image: url(../img/FB-icon.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  opacity: 0.8;
}

.footer-social a:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer-social a {
  cursor: pointer;
}

.contacts {
  flex: 0 0 295px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -8px;
}

.footer-circle {
  position: absolute;
  width: 25px;
  height: 25px;
  left: -17px;
  top: 15px;
  background: #fbf138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  border-radius: 50%;
  z-index: 1;
}

.footer-mail {
  text-align: center;
  z-index: 2;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #2b3541;
}

.footer-rights {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}

.footer-rights p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2b3541;
  opacity: 0.3;
}

.footer-rights a {
  text-decoration: underline;
}
